@page "{guid}/{reasontype}"
@model Ref.Api.Pages.ContactModel

<div class="album py-5 bg-light">

    <div class="container">

        @if (Model.Sent)
        {
            <div class="card mb-6 shadow-sm text-white bg-success">
                <div class="card-header">
                    Dziękujemy
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Skontaktujemy się tak szybko jak to możliwe.
                        <div class="btn-group">
                            <a href="/@Model.Guid" class="btn btn-sm btn-outline-light">Powrót</a>
                        </div>
                    </p>
                </div>
            </div>
        }
        else
        {
            @if (Model.Succeed)
            {
                <form class="was-validated" method="post">
                    <div class="form-group row">
                        <label for="f-email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-6">
                            <input type="text" value="@Model.ContactViewModel.Email" id="f-email" name="email" class="form-control" aria-describedby="f-email-help" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="f-subject" class="col-sm-2 col-form-label">Temat</label>
                        <div class="col-sm-6">
                            <input type="text" value="@Model.ContactViewModel.Subject" id="f-subject" name="subject" class="form-control" aria-describedby="f-subject-help" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="f-msg" class="col-sm-2 col-form-label">Wiadomość</label>
                        <div class="col-sm-6">
                            <textarea type="text" id="f-msg" name="message" class="form-control" aria-describedby="f-msg-help">@Model.ContactViewModel.Message</textarea>
                        </div>
                        <div class="col-sm-4">
                            <small id="f-name-help" class="form-text text-muted">
                                Miejsce na dodatkowe informacje od Ciebie dla Nas.
                            </small>
                        </div>
                    </div>

                    <input type="hidden" id="f-guid" value="@Model.ContactViewModel.UserGuid" class="form-control" name="userguid">

                    <div class="btn-group offset-sm-2" role="group">
                        <button type="submit" class="btn btn-primary" id="btn-f-create">Wyślij</button>
                        <button type="button" class="btn btn-secondary" onclick="javascript:window.history.back();">Anuluj</button>
                    </div>
                </form>
            }
            else
            {
                <div class="card mb-6 shadow-sm text-white bg-danger">
                    <div class="card-header">
                        @Model.ErrorContactViewModel.FormattedHeader
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @Model.ErrorContactViewModel.Message
                            <div class="btn-group">
                                @if (Model.ErrorContactViewModel.IsException)
                                {
                                    <a href="/@Model.ErrorContactViewModel.UserGuid" class="btn btn-sm btn-outline-light">Zabierz mnie stąd!</a>
                                }
                            </div>
                        </p>
                    </div>
                </div>
            }
        }

    </div>
</div>