@page "{guid}"
@model Ref.Api.Pages.IndexModel

<div class="album py-5 bg-light">

    <div class="container">

        <div class="row">
            <div class="col-md-6 mt-1">
                <div class="card mb-6 shadow-sm text-white bg-primary">
                    <div class="card-header">Adres do powiadomień</div>
                    <div class="card-body">
                        <p class="card-text">
                            <input type="hidden" id="user-id" name="user-id" value="@Model.IndexViewModel.UserId">
                            <input type="email" id="input-email" class="form-control" placeholder="Email adres" required="" value="@Model.IndexViewModel.Email">
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" id="input-email-save" class="btn btn-sm btn-outline-dark">Zapisz</button>
                            </div>
                            <small id="registered-at-info">@Model.IndexViewModel.RegisteredAtFormatted</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-1">
                <div class="card mb-6 shadow-sm text-white bg-secondary">
                    <div class="card-header">Informacje systemowe</div>
                    <div class="card-body" id="admin-info">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card mb-12 shadow-sm text-white bg-dark">
                    <div class="card-header">Filtry</div>
                    <div class="card-body">
                        <table class="table table-bordered table-dark table-responsive-md">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col" class="d-none d-sm-table-cell">Miasto</th>
                                    <th scope="col" class="d-none d-md-table-cell">Metraż [m<sup>2</sup>]</th>
                                    <th scope="col" class="d-none d-md-table-cell">Cena [zł]</th>
                                    <th scope="col" class="d-none d-md-table-cell">Cena za m<sup>2</sup> [zł]</th>
                                    <th scope="col" class="d-none d-lg-table-cell">Powiadomienia</th>
                                    <th scope="col">Inne</th>
                                </tr>
                            </thead>
                            <tbody id="filters-table"></tbody>
                        </table>
                        <div class="d-flex justify-content-between align-items-center">

                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/add/@Model.Guid">
                                    Dodaj
                                </a>
                            </div>
                            <!--<small class="text-muted">Możesz utworzyć: 5 filtrów</small>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts
    {
    <script type="text/javascript">

        APP.users.checkIfActive({
            active: @Model.IndexViewModel.Active
        });

        APP.admininfos.getAll({
            url: '/admininfos',
            cnt: '#admin-info'
        });

        APP.users.updateEmail({
            url: '/users/email',
            userId: @Model.IndexViewModel.UserId,
            cntInputEmail: '#input-email',
            btnSave: '#input-email-save'
        });

        APP.filters.getUserFilters({
            url: '/filters/allbyuserid',
            userId: @Model.IndexViewModel.UserId,
            cntFiltersTable: '#filters-table'
        });

    </script>
}